body {
  background-color: #c1a675;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.logo {
  max-width: 300px;
  width: 90%;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  color: #2e3b1f;
  font-weight: bold;
  letter-spacing: 2px;
}
